{% trans_default_domain 'admin_login' %}

<!DOCTYPE html>
<html lang="{{ request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'meta_title'|trans({'%project%': 'Silex Skeleton'}) }}</title>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
</head>
<body class="c-login">

    <section class="c-login__wrapper">

        <div class="c-login__header">
            <div class="c-login__logo">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('images/admin/logo.png') }}" alt="">
                </a>
            </div>

            {% embed "admin/includes/_headline.html.twig" %}
                {% block headline_title %}
                    {{ 'login_title'|trans([], 'admin_login') }}
                {% endblock %}
                {% block headline_description %}
                    {{ 'login_subtitle'|trans([], 'admin_login') }}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="c-login__body c-admin-form">

            {% if error is defined and error %}
                <div class="js-block-hider c-flash-bag c-flash-bag--state_error">
                    <div class="js-block-hider__close-btn s-admin-icon c-flash-bag__close-btn"></div>
                    <div class="c-flash-bag__ph">{{ 'login_error_message'|trans }}</div>
                </div>
            {% endif %}

            {% spaceless %}
                <div class="c-login__panel c-login__panel--left">

                    <form action="{{ path('admin_login_check') }}" method="post">

                        <div class="c-admin-form__row">
                            <label class="c-admin-form__label" for="login_username">{{ 'login_username'|trans }}</label>
                            <input class="c-admin-form__input" id="login_username" type="text" name="_username" value="{{ last_username }}" autofocus="true">
                        </div>

                        <div class="c-admin-form__row">
                            <label class="c-admin-form__label" for="login_password">{{ 'login_password'|trans }}</label>
                            <input class="c-admin-form__input" id="login_password" type="password" name="_password" value="">
                        </div>

                        <div class="c-admin-form__btn-row">
                            <button type="submit" class="c-btn c-btn--bg_green ">{{ 'login_btn_label'|trans }}</button>
                        </div>
                    </form>
                </div>
                <div class="c-login__panel c-login__panel--right">
                    {{ render(controller('App\\Controller\\RenderController::loginGoodToKnow')) }}
                </div>
            {% endspaceless %}
        </div>
    </section>

    {{ render(controller('App\\Controller\\RenderController::jsConfig')) }}

    {% include 'includes/cdn_asset.html.twig' with {
        remote_url: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js',
        local_url: asset('bower/jquery/dist/jquery.js'),
        global_object: 'jQuery',
    } only %}

    {# <script src="{{ asset('bower/foundation/js/foundation.min.js') }}"></script> #}
    <script src="{{ asset('js/admin.js') }}"></script>
</body>
</html>
