{% block form_row %}
    {% spaceless %}
    <div class="c-contact-form__row">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
    {% endspaceless %}
{% endblock %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% set attr = attr|merge({class: 'c-contact-form__input'}) %}
    <div class="js-contact-form__input c-contact-form__input-wrapper">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple -%}

{% block form_label %}
    {% set label_attr = label_attr|merge({class: ' c-contact-form__label'}) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="c-contact-form__error-list">
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{# This block overwrites the global recaptcha template. #}
{% block _contact_form_recaptcha_response_row %}
    {% spaceless %}
        <div class="c-contact-form__row">
            <div class="c-contact-form__label"></div>
            <div class="c-contact-form__recaptcha">
                <div class="{{ form.vars.attr.class }}"></div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{# buttons don't have labels or errors, so their template blocks are different. #}
{% block _contact_form_button_row %}
    <div class="c-contact-form__row">
        <div class="c-contact-form__label"></div>
        {% set attr = attr|merge({class: 'c-contact-form__submit-btn'}) %}
        {%- set type = type|default('submit') -%}
        {{ block('button_widget') }}
    </div>
{% endblock %}
